@import './variables';

h4 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.avatars {
	display: flex;
	padding: 2em 0;
	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 1em;
	}
}

.integrantes {
	display: flex;
	flex-wrap: wrap;

	.integrante {
		width: 50%;
		display: flex;
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin-right: 1em;
		}
	}
}

.item {
	display: block;
	padding: 1em 0;

	small {
		font-weight: 100;
		font-size: 9px;
		letter-spacing: 2px;
	}
	p {
		font-weight: 700;
		letter-spacing: 2px;
		color: $grisOscuro;
		margin-top: 4px;
	}
}