@import './variables';


.inner {
	background-color: $blancusco;
	background-image: url(img/nubes.png);
	height: calc(100vh - 65px);
}
.itemIlustration {
	position: absolute;
	width: 100%;
	right: 0;
	bottom: 0;
}

.info{
	max-width: 500px;
	width: 500px;
	h1 {
		margin: 0;
	}
	p {
		color: #8F9E8B;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 2px;
		margin-top: 40px;
	}
}
.next {
	margin-top: 16px;
}
.alistamientoWrapper {
	z-index: 9;
	display: flex;
	position: relative;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
	padding: 0 1em;
}
.alistamiento {
	position: relative;
	&Container {
		width: 100%;
		position: relative;
		display: flex;
		flex-wrap: nowrap;

		.profile {
			width: 40%;
			max-width: 600px;
			min-height: calc(100vh - 65px);
			padding: 2em 2em;
			background-color: $blancusco;
			display: flex;
			flex-direction: column;
		}

		.teamProfile {
			margin-top: 140px;
			width: 80%;
			max-width: 1000px;
			padding: 0 4em;

			.title {
				font-size: 20px;
				color: $verdeOscuro2;
			}

			.teamName {
				display: flex;
				flex-wrap: nowrap;
				.form-control {
					height: 50px;
					border-radius: 0;
					margin-top: 0;
					border: 1px solid $verdeClaro;
				}
				.btn {
					height: 50px;
					background-color: $verdeClaro;
					color: $blanco;
					font-weight: 100;
					font-size: 12px;
					letter-spacing: 2px;
					text-transform: uppercase;
					border-radius: 0;
				}
			}

			.teamList {
				display: flex;
				flex-wrap: wrap;
				margin-top: 66px;
				small {
					font-size: 14px;
					font-weight: 100;
					width: 100%;
				}

				.person {
					margin-top: 2em;
					width: 48%;
					display: flex;
					flex-wrap: nowrap;
					align-items: center;

					.avatar {
						margin-right: 1em;
						margin-top: 0;
						img {
							border-radius: 50%;
							border: 1px solid $verdeOscuro;
						}
					}

					.info {
						p {
							margin: 0;
						}
						.name {
							color: #8F9E8B;
							font-weight: 600;
							font-size: 14px;
						}
						.mail {
							font-weight: 100;
							font-size: 12px;
						}
					}
				}
			}
		
		}
	}

}


.avatar {
	margin-top: 26px;
	&Items {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 34px;
		button{
			background-color: none;
			border: 0;
			padding: 0;
			margin-right: 1em;
			img {
				border-radius: 50%;
			}
		}
	}
}

.data {
	margin-top: 60px;
	&Group {
		margin-top: 16px;
		small {
			font-size: 14px;
			color: $verdeOscuro2;
		}
		p {
			font-size: 20px;
			padding: 8px;
			color: $verdeOscuro;
			border-bottom: 1px solid $verdeClaro;
		}
	}
}

.report {

	.dataGroup {

		small {
			font-size: 14px;
			color: $verdeOscuro2;
			display: block;
		}

		.pdf {
			display: flex;
			flex-wrap: nowrap;
			padding: 12px 0;

			&Icon {
				margin-right: 1em;
			}

			&Info {
				a {
					color: $verdeClaro;
					font-size: 16px;
					font-weight: 200;
					display: block;
				}
				span {
					font-size: 10px;
					font-weight: 100;
					letter-spacing: 1.5;
				}
			}
		}
	}
}