@import './variables';


.formulacion {
	background-color: $blancusco;
	background-image: url(img/nubes.png);
	background-position: right 2%; 
	background-repeat: no-repeat;
	padding: 1em; 

	&Title {
		color: $verdeClaro;
	}
	&SubTitle {
		color: $verdeOscuro;
		margin: 60px 0;
		font-size: 25px;
	}

	label {
		color: $verdeOscuro2 !important;
		font-size: 14px;
		font-weight: 400;
	}
	.form-group {
		margin-top: 60px;
	}
	input, textarea {
		background-color: transparent;
		border-top: 1px solid $verdeClaro;
		border-bottom: 1px solid $verdeClaro;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		height: 45px;
		margin-top: 10px;
		color: $gris;
		font-size: 14px;
		font-weight: 100;
		box-shadow: none; 
	}
	textarea {
		height: 100px;
		padding-top: 2em;
	}
	select {
		border: 0;
		box-shadow: none;
		background-color: transparent;
		height: 45px;
	}
	.u-selectWraper {
		margin-top: 10px;
		border-top: 1px solid $verdeClaro;
		border-bottom: 1px solid $verdeClaro;
	}
}