// Imports 
@import './variables';

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	width: 100%;
	height: 65px;
	background-color: $verdeOscuro;
	z-index: 999;
}

.nav {
	position: relative;
	display: flex;
	align-self: center;
	height: 65px;
	width: 100%;
	padding: 0 0 0 2em;
	&Logo {
		height: 65px;
		display: flex;
		align-items: center;
		img {
			height: 32px;
			width: auto;
		}
	}
	&Items {
		margin-left: auto;
		ul {
			height: 65px;
			line-height: 0;
			margin-bottom: 0;
			list-style: none;
			display: flex;
			align-items: center;
			li {
				margin-left: 1em;

				a {
					color: $blanco;
					font-size: 16px;
					font-weight: 100;
					@include prefix(transition, all .5s ease-in-out);

					&:hover {
						color: $verdeClaro;
						text-decoration: none;
					}
				}
			}
		}
		
		.u-notification {
			width: 64px;
			margin: 0;
			text-align: center;
			a {
				color: $verdeClaro;
			}
		}
		
		.u-mian-menu {
			width: 64px;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $verdeNeutro;
			height: 65px;
			a {

			}
		}
		.u-mian-fases {
			width: 64px;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $verdeOscuro2;
			height: 65px;
			a {

			}
		}
	}
}

.menu {
	top: 65px;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
	height: calc(100vh - 65px);
	background-color: $blanco;
	background-image: url(img/nubes.png);
	background-position: right 2%; 
	background-repeat: no-repeat;
	z-index: 999;

	&Container {
		width: 100%;
		height: 100vh;
		padding: 4em;
		position: relative;

		h4 {
			color: $verdeOscuro;
			font-size: 25px;
			font-weight: 500;
		}

		ul {
			list-style: none;
			padding-left: 0;

			li {
				line-height: 4;
				a {
					color: #8F9E8B;
					font-weight: 100;
					font-size: 18px;
					padding-bottom: 6px;
					border-bottom: 1px solid transparent;
					@include prefix(transition, all .5s ease-in);

					&:hover {
						color: $verdeClaro;
						border-bottom: 1px solid $verdeClaro;
						text-decoration: none;
					}
				}
			}
		}
	}
}