// Colors

$gris: #9F9F9F;
$grisOscuro: #9B9B9B;
$blanco: #ffffff;
$back: #F4F6F7;
$blancusco: #F6F6F6;

$negro: #253023;
$azul: #02CEE4;
$verdeOscuro: #00361B;
$verdeOscuro2: #006131;
$verdeNeutro: #59AA46;
$verdeClaro: #68C951;
