// Imports 
@import './css/variables';
@import './css/mixins';

// Views

//Home 
@import './css/home';

// Header
@import './css/header';


// Dashboard
@import './css/dashboard';

// Alistamiento
@import './css/alistamiento';

// Base
@import './css/base';

// Uno
@import './css/uno';

// Cromonograma
@import './css/cronograma';

// Esentials

body {
	font-family: 'Roboto', sans-serif;
	color: $gris;
}

.main {
	min-height: 100vh;
	background-color: $back;
	padding-top: 120px;
}
// Inputs 
.btn-sub {
	background-color: $grisOscuro;
	color: $blanco !important;
	width: 100%;
	height: 40px;
	border-radius: 0;
	font-weight: 600;
	letter-spacing: 3px;
}

.btn-main {
	background-color: transparent;
	display: block;
	color: $gris;
	border: 2px solid $gris;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
}

.title {
	margin: 0;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 4px;
}

.base, .uno, .dos {
	background-image: url(./img/camping.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.main-white {
	padding-top: 150px;
	background-image: url(./img/cumbre.png);
	background-repeat: no-repeat;
	background-position: 900px 400px;
	min-height: 100vh;
}