// Imports 
@import './css/variables';
@import './css/mixins';

// Views

//Home 
@import './css/home';

// Header
@import './css/header';


// Dashboard
@import './css/dashboard';

// Alistamiento
@import './css/alistamiento';

// Base
@import './css/base';

// Uno
@import './css/uno';

// Cromonograma
@import './css/cronograma';


// Mapa
@import './css/mapa';

// Esentials

body {
	font-family: 'Arimo', sans-serif !important;
	color: $gris;
}

h1, h2, h3, h4 {
	font-family: 'Didact Gothic', sans-serif;
}

.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $verdeOscuro;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999999;
}
#mountain {
	.circle {
		fill: none;
		stroke: $blanco;
		stroke-width: 6px;
		animation: loader 2s ease-in-out infinite;
		/*stroke-dashoffset: 780px;
		stroke-dasharray: 700px 550px;*/
	}
}

@keyframes 	loader {
	0% {
		stroke-dashoffset: 450px;
		stroke-dasharray: 600px 650px;
	}
	25% {
		stroke-dashoffset: -150px;
		stroke-dasharray: 5px 1250px;
	}
	50% {
		stroke-dashoffset: 780px;
		stroke-dasharray: 300px 950px;
	}
	70% {
		stroke-dashoffset: 450px;
		stroke-dasharray: 600px 650px;
	}
	90% {
		stroke-dashoffset: 650px;
		stroke-dasharray: 800px 320px;
	}
	100% {
		stroke-dashoffset: 650px;
		stroke-dasharray: 800px 320px;
	}
}

.main {
	min-height: calc(100vh - 65px);
	margin-top: 65px;
}
// Inputs 
.btn-sub {
	background-color: $verdeNeutro;
	color: $blanco !important;
	width: 100%;
	height: 50px;
	line-height: 40px;
	font-size: 18px;
	border-radius: 0;
	font-weight: 700;
}

.btn-main {
	background-color: transparent;
	display: block;
	color: $gris;
	border: 2px solid $gris;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
}

.title {
	margin: 0;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 4px;
}

.base, .uno, .dos {
	background-image: url(./img/camping.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.main-white {
	padding-top: 150px;
	background-image: url(./img/cumbre.png);
	background-repeat: no-repeat;
	background-position: 900px 400px;
	min-height: 100vh;
}
